<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Purpose of use verdiforslag</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Purpose of use verdiforslag</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-173a0e37f9874635967fb9dc404d6264.png" alt="Purpose of use verdiforslag" usemap="#id-173a0e37f9874635967fb9dc404d6264map"/>
			   <map name="id-173a0e37f9874635967fb9dc404d6264map">
				  		<area shape="rect" coords="142,187,262,242" href="../elements/id-6a5a9e61515e45cba642f44ca6314077.html"  target="element">
				  		<area shape="rect" coords="562,187,682,242" href="../elements/id-4fbc955e0ab24c5db8ad06e845c0ca76.html"  target="element">
				  		<area shape="rect" coords="286,187,406,242" href="../elements/id-a8e60393c6e246aa9c00de8729fb8c3e.html"  target="element">
				  				<area shape="rect" coords="34,427,154,482" href="../elements/id-997adba788f9446dbec60a5332f76a27.html"  target="element">
				  				<area shape="rect" coords="202,427,322,482" href="../elements/id-bc3fd45c78f748e3b5d0de024656af66.html"  target="element">
				  				<area shape="rect" coords="382,427,502,482" href="../elements/id-faf07c4ad8504c21bbaa0b8b6b200cdd.html"  target="element">
				  				<area shape="rect" coords="550,427,670,482" href="../elements/id-19cc4cb15eca4dabb78b721ec9e1e1e3.html"  target="element">

				  		<area shape="rect" coords="10,403,682,499" href="../elements/id-0311e42d41ef4216847d29cc562af237.html"  target="element">
				  		<area shape="rect" coords="10,187,130,242" href="../elements/id-ba962aa6b9d743c2842efc88fe9540bb.html"  target="element">
				  		<area shape="rect" coords="430,187,550,242" href="../elements/id-6ff5a03f8f68435dac291912517cd496.html"  target="element">
				  		<area shape="rect" coords="286,55,406,110" href="../elements/id-db3e341689884c8a8e8c931a448cd37c.html"  target="element">
				  		<area shape="rect" coords="70,55,190,110" href="../elements/id-42ca71eb08bb4d358002ed73090250cf.html"  target="element">
				  		<area shape="rect" coords="478,55,598,110" href="../elements/id-092e73c8d8c849879634faaff95b86b3.html"  target="element">
				  				<area shape="rect" coords="22,295,671,350" href="../elements/id-004c7869effb4a83add0d3a6f0fcf9f4.html"  target="element">

				  		<area shape="rect" coords="10,271,682,380" href="../elements/id-0502134547a14b5d9d1f90efbd3632c3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-0502134547a14b5d9d1f90efbd3632c3.html" target="element"> Helsepersonellets attest </a> </td>
											    <td> <a href="../elements/id-0502134547a14b5d9d1f90efbd3632c3.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-004c7869effb4a83add0d3a6f0fcf9f4.html" target="element"> Purpose of use </a> </td>
													    <td> <a href="../elements/id-004c7869effb4a83add0d3a6f0fcf9f4.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-092e73c8d8c849879634faaff95b86b3.html" target="element"> Helsepersonell </a> </td>
											    <td> <a href="../elements/id-092e73c8d8c849879634faaff95b86b3.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-42ca71eb08bb4d358002ed73090250cf.html" target="element"> Helsevirksomhet </a> </td>
											    <td> <a href="../elements/id-42ca71eb08bb4d358002ed73090250cf.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-db3e341689884c8a8e8c931a448cd37c.html" target="element"> Innbygger </a> </td>
											    <td> <a href="../elements/id-db3e341689884c8a8e8c931a448cd37c.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6ff5a03f8f68435dac291912517cd496.html" target="element"> Lettere &#229; forst&#229; p&#229; tvers av virksomheter </a> </td>
											    <td> <a href="../elements/id-6ff5a03f8f68435dac291912517cd496.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ba962aa6b9d743c2842efc88fe9540bb.html" target="element"> Billigere og enklere integrasjoner </a> </td>
											    <td> <a href="../elements/id-ba962aa6b9d743c2842efc88fe9540bb.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0311e42d41ef4216847d29cc562af237.html" target="element"> Kapabiliteter </a> </td>
											    <td> <a href="../elements/id-0311e42d41ef4216847d29cc562af237.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-19cc4cb15eca4dabb78b721ec9e1e1e3.html" target="element"> Logging og etterkontroll </a> </td>
													    <td> <a href="../elements/id-19cc4cb15eca4dabb78b721ec9e1e1e3.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-faf07c4ad8504c21bbaa0b8b6b200cdd.html" target="element"> Dokumentering av tjenstlig behov </a> </td>
													    <td> <a href="../elements/id-faf07c4ad8504c21bbaa0b8b6b200cdd.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bc3fd45c78f748e3b5d0de024656af66.html" target="element"> H&#229;ndtering av personvern </a> </td>
													    <td> <a href="../elements/id-bc3fd45c78f748e3b5d0de024656af66.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-997adba788f9446dbec60a5332f76a27.html" target="element"> Tilgangsstyring og tilgangskontroll </a> </td>
													    <td> <a href="../elements/id-997adba788f9446dbec60a5332f76a27.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a8e60393c6e246aa9c00de8729fb8c3e.html" target="element"> Lettere for &#229; forst&#229; hvorfor noen har sett p&#229; journalen </a> </td>
											    <td> <a href="../elements/id-a8e60393c6e246aa9c00de8729fb8c3e.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4fbc955e0ab24c5db8ad06e845c0ca76.html" target="element"> Trygghet for at tilgang blir knyttet til riktig hjemmel </a> </td>
											    <td> <a href="../elements/id-4fbc955e0ab24c5db8ad06e845c0ca76.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6a5a9e61515e45cba642f44ca6314077.html" target="element"> Tillitsvekkende personvern og tilgangsstyring </a> </td>
											    <td> <a href="../elements/id-6a5a9e61515e45cba642f44ca6314077.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-22fd911718e548cd8d2cb689535f5017.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22fd911718e548cd8d2cb689535f5017.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0502134547a14b5d9d1f90efbd3632c3.html" target="element"> Helsepersonellets attest </a> </td>
																		<td> <a href="../elements/id-004c7869effb4a83add0d3a6f0fcf9f4.html" target="element"> Purpose of use </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a23d59f681a64873a49ae577141d88b2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a23d59f681a64873a49ae577141d88b2.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-004c7869effb4a83add0d3a6f0fcf9f4.html" target="element"> Purpose of use </a> </td>
																				<td> <a href="../elements/id-6ff5a03f8f68435dac291912517cd496.html" target="element"> Lettere &#229; forst&#229; p&#229; tvers av virksomheter </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d8d45b2ffd5f4b5bb754ba1d2f50dd4c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d8d45b2ffd5f4b5bb754ba1d2f50dd4c.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-004c7869effb4a83add0d3a6f0fcf9f4.html" target="element"> Purpose of use </a> </td>
																				<td> <a href="../elements/id-ba962aa6b9d743c2842efc88fe9540bb.html" target="element"> Billigere og enklere integrasjoner </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5a7c9ac3afcd4c56bf2a1852089dd06a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5a7c9ac3afcd4c56bf2a1852089dd06a.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-004c7869effb4a83add0d3a6f0fcf9f4.html" target="element"> Purpose of use </a> </td>
																				<td> <a href="../elements/id-a8e60393c6e246aa9c00de8729fb8c3e.html" target="element"> Lettere for &#229; forst&#229; hvorfor noen har sett p&#229; journalen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6dd0796ddc084ab196a0f3a0d3b924c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6dd0796ddc084ab196a0f3a0d3b924c3.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-004c7869effb4a83add0d3a6f0fcf9f4.html" target="element"> Purpose of use </a> </td>
																				<td> <a href="../elements/id-4fbc955e0ab24c5db8ad06e845c0ca76.html" target="element"> Trygghet for at tilgang blir knyttet til riktig hjemmel </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-50eda37d086d4293a524e074d53f9c97.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-50eda37d086d4293a524e074d53f9c97.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-004c7869effb4a83add0d3a6f0fcf9f4.html" target="element"> Purpose of use </a> </td>
																				<td> <a href="../elements/id-6a5a9e61515e45cba642f44ca6314077.html" target="element"> Tillitsvekkende personvern og tilgangsstyring </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-1a77134c45384f4a98ffc2a4dd4c32f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a77134c45384f4a98ffc2a4dd4c32f6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-42ca71eb08bb4d358002ed73090250cf.html" target="element"> Helsevirksomhet </a> </td>
																		<td> <a href="../elements/id-4fbc955e0ab24c5db8ad06e845c0ca76.html" target="element"> Trygghet for at tilgang blir knyttet til riktig hjemmel </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0abb9b58b6e844748f1f3e9292e6e825.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0abb9b58b6e844748f1f3e9292e6e825.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ff5a03f8f68435dac291912517cd496.html" target="element"> Lettere &#229; forst&#229; p&#229; tvers av virksomheter </a> </td>
																		<td> <a href="../elements/id-092e73c8d8c849879634faaff95b86b3.html" target="element"> Helsepersonell </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ab58cdad9db240a3bca61833a11b9899.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab58cdad9db240a3bca61833a11b9899.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ff5a03f8f68435dac291912517cd496.html" target="element"> Lettere &#229; forst&#229; p&#229; tvers av virksomheter </a> </td>
																		<td> <a href="../elements/id-db3e341689884c8a8e8c931a448cd37c.html" target="element"> Innbygger </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-af649387e2af4488b9551e90b3a18426.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-af649387e2af4488b9551e90b3a18426.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba962aa6b9d743c2842efc88fe9540bb.html" target="element"> Billigere og enklere integrasjoner </a> </td>
																		<td> <a href="../elements/id-42ca71eb08bb4d358002ed73090250cf.html" target="element"> Helsevirksomhet </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-47a227dc7e9e4eca9c1fcfb75448f128.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47a227dc7e9e4eca9c1fcfb75448f128.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0311e42d41ef4216847d29cc562af237.html" target="element"> Kapabiliteter </a> </td>
																		<td> <a href="../elements/id-19cc4cb15eca4dabb78b721ec9e1e1e3.html" target="element"> Logging og etterkontroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-850493cc9d754d0b923b6762b201309f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-850493cc9d754d0b923b6762b201309f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0311e42d41ef4216847d29cc562af237.html" target="element"> Kapabiliteter </a> </td>
																		<td> <a href="../elements/id-faf07c4ad8504c21bbaa0b8b6b200cdd.html" target="element"> Dokumentering av tjenstlig behov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cdd638a480634fdb926cf037e59383fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cdd638a480634fdb926cf037e59383fc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0311e42d41ef4216847d29cc562af237.html" target="element"> Kapabiliteter </a> </td>
																		<td> <a href="../elements/id-bc3fd45c78f748e3b5d0de024656af66.html" target="element"> H&#229;ndtering av personvern </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c538252ae4264fd288ca1e770f195971.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c538252ae4264fd288ca1e770f195971.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0311e42d41ef4216847d29cc562af237.html" target="element"> Kapabiliteter </a> </td>
																		<td> <a href="../elements/id-997adba788f9446dbec60a5332f76a27.html" target="element"> Tilgangsstyring og tilgangskontroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6aac9ce823b548a789cbd11b66d88d20.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6aac9ce823b548a789cbd11b66d88d20.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0311e42d41ef4216847d29cc562af237.html" target="element"> Kapabiliteter </a> </td>
																		<td> <a href="../elements/id-004c7869effb4a83add0d3a6f0fcf9f4.html" target="element"> Purpose of use </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c70db9fe3e30431c9937d464b50daab8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c70db9fe3e30431c9937d464b50daab8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a8e60393c6e246aa9c00de8729fb8c3e.html" target="element"> Lettere for &#229; forst&#229; hvorfor noen har sett p&#229; journalen </a> </td>
																		<td> <a href="../elements/id-db3e341689884c8a8e8c931a448cd37c.html" target="element"> Innbygger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-62ff553fb0f24386825a3424009af0aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-62ff553fb0f24386825a3424009af0aa.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a8e60393c6e246aa9c00de8729fb8c3e.html" target="element"> Lettere for &#229; forst&#229; hvorfor noen har sett p&#229; journalen </a> </td>
																		<td> <a href="../elements/id-092e73c8d8c849879634faaff95b86b3.html" target="element"> Helsepersonell </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e4e32f6f41ba49308823bdafb799ccda.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e4e32f6f41ba49308823bdafb799ccda.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4fbc955e0ab24c5db8ad06e845c0ca76.html" target="element"> Trygghet for at tilgang blir knyttet til riktig hjemmel </a> </td>
																		<td> <a href="../elements/id-092e73c8d8c849879634faaff95b86b3.html" target="element"> Helsepersonell </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5febd8cada8046a59ea211556322a930.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5febd8cada8046a59ea211556322a930.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6a5a9e61515e45cba642f44ca6314077.html" target="element"> Tillitsvekkende personvern og tilgangsstyring </a> </td>
																		<td> <a href="../elements/id-42ca71eb08bb4d358002ed73090250cf.html" target="element"> Helsevirksomhet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cfb73d8f36d44625a87aa9d1b69ea619.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfb73d8f36d44625a87aa9d1b69ea619.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6a5a9e61515e45cba642f44ca6314077.html" target="element"> Tillitsvekkende personvern og tilgangsstyring </a> </td>
																		<td> <a href="../elements/id-db3e341689884c8a8e8c931a448cd37c.html" target="element"> Innbygger </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>