<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Purpose of use prosesser</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Purpose of use prosesser</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3ef43b6492204db38e8ee52926e973cd.png" alt="Purpose of use prosesser" usemap="#id-3ef43b6492204db38e8ee52926e973cdmap"/>
			   <map name="id-3ef43b6492204db38e8ee52926e973cdmap">
				  		<area shape="rect" coords="155,10,1187,65" href="../elements/id-00e8e902472a4cdea130479d887a929a.html"  target="element">
				  		<area shape="rect" coords="155,274,1187,329" href="../elements/id-2e4978779c054f2b94fbe86dd069b321.html"  target="element">
				  				<area shape="rect" coords="1018,142,1151,213" href="../elements/id-addee0f613ec495e8a7cec999a59bf6a.html"  target="element">
				  				<area shape="rect" coords="850,142,983,213" href="../elements/id-ca26aab185eb463dbe66dbe3d4e1c171.html"  target="element">
				  				<area shape="rect" coords="682,142,815,213" href="../elements/id-759502aa7c2145aa9c239bd49fefb69e.html"  target="element">
				  				<area shape="rect" coords="514,142,647,213" href="../elements/id-1c99117402ec4474b6cc1f9b15a2d36a.html"  target="element">
				  				<area shape="rect" coords="346,142,479,213" href="../elements/id-22a5dafe59e740f49e72adde30b82f1c.html"  target="element">
				  				<area shape="rect" coords="178,142,311,213" href="../elements/id-4d80e921c01946019fc5dfcc462b240d.html"  target="element">

				  		<area shape="rect" coords="154,94,1187,250" href="../elements/id-22790af9d3b24c13a1ae4029884aac9f.html"  target="element">
				  		<area shape="rect" coords="10,94,131,250" href="../elements/id-004c7869effb4a83add0d3a6f0fcf9f4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-004c7869effb4a83add0d3a6f0fcf9f4.html" target="element"> Purpose of use </a> </td>
											    <td> <a href="../elements/id-004c7869effb4a83add0d3a6f0fcf9f4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-22790af9d3b24c13a1ae4029884aac9f.html" target="element"> Prosesser for datadeling som har behov for purpose of use </a> </td>
											    <td> <a href="../elements/id-22790af9d3b24c13a1ae4029884aac9f.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4d80e921c01946019fc5dfcc462b240d.html" target="element"> Forberedelser i virksomheten </a> </td>
													    <td> <a href="../elements/id-4d80e921c01946019fc5dfcc462b240d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-22a5dafe59e740f49e72adde30b82f1c.html" target="element"> Tilgjengeliggj&#248;re helseopplysninger </a> </td>
													    <td> <a href="../elements/id-22a5dafe59e740f49e72adde30b82f1c.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1c99117402ec4474b6cc1f9b15a2d36a.html" target="element"> F&#229; tilgang til helseopplysninger </a> </td>
													    <td> <a href="../elements/id-1c99117402ec4474b6cc1f9b15a2d36a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-759502aa7c2145aa9c239bd49fefb69e.html" target="element"> Hente helseopplysninger </a> </td>
													    <td> <a href="../elements/id-759502aa7c2145aa9c239bd49fefb69e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ca26aab185eb463dbe66dbe3d4e1c171.html" target="element"> Dele helseopplysninger </a> </td>
													    <td> <a href="../elements/id-ca26aab185eb463dbe66dbe3d4e1c171.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-addee0f613ec495e8a7cec999a59bf6a.html" target="element"> Oppf&#248;lging og kontroll </a> </td>
													    <td> <a href="../elements/id-addee0f613ec495e8a7cec999a59bf6a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2e4978779c054f2b94fbe86dd069b321.html" target="element"> Tilbydervirksomhet </a> </td>
											    <td> <a href="../elements/id-2e4978779c054f2b94fbe86dd069b321.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-00e8e902472a4cdea130479d887a929a.html" target="element"> Konsumerende virksomhet </a> </td>
											    <td> <a href="../elements/id-00e8e902472a4cdea130479d887a929a.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3cf7235d7da6418ab08772975a740911.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3cf7235d7da6418ab08772975a740911.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22790af9d3b24c13a1ae4029884aac9f.html" target="element"> Prosesser for datadeling som har behov for purpose of use </a> </td>
																		<td> <a href="../elements/id-004c7869effb4a83add0d3a6f0fcf9f4.html" target="element"> Purpose of use </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ca755d243b5e4b2eb1c95887638da177.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca755d243b5e4b2eb1c95887638da177.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22790af9d3b24c13a1ae4029884aac9f.html" target="element"> Prosesser for datadeling som har behov for purpose of use </a> </td>
																		<td> <a href="../elements/id-4d80e921c01946019fc5dfcc462b240d.html" target="element"> Forberedelser i virksomheten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-baa0fa6ac2b34c39bc75537446826f47.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-baa0fa6ac2b34c39bc75537446826f47.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22790af9d3b24c13a1ae4029884aac9f.html" target="element"> Prosesser for datadeling som har behov for purpose of use </a> </td>
																		<td> <a href="../elements/id-22a5dafe59e740f49e72adde30b82f1c.html" target="element"> Tilgjengeliggj&#248;re helseopplysninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c2735bb94f6449138819450595c91c07.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2735bb94f6449138819450595c91c07.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22790af9d3b24c13a1ae4029884aac9f.html" target="element"> Prosesser for datadeling som har behov for purpose of use </a> </td>
																		<td> <a href="../elements/id-1c99117402ec4474b6cc1f9b15a2d36a.html" target="element"> F&#229; tilgang til helseopplysninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9c083a8abbc447c3aaaafe8d2980ad01.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c083a8abbc447c3aaaafe8d2980ad01.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22790af9d3b24c13a1ae4029884aac9f.html" target="element"> Prosesser for datadeling som har behov for purpose of use </a> </td>
																		<td> <a href="../elements/id-759502aa7c2145aa9c239bd49fefb69e.html" target="element"> Hente helseopplysninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-041c42b5d7d2411c880c39da8dd0dd2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-041c42b5d7d2411c880c39da8dd0dd2c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22790af9d3b24c13a1ae4029884aac9f.html" target="element"> Prosesser for datadeling som har behov for purpose of use </a> </td>
																		<td> <a href="../elements/id-ca26aab185eb463dbe66dbe3d4e1c171.html" target="element"> Dele helseopplysninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a202a2eface84385a0cf3907ba02bcbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a202a2eface84385a0cf3907ba02bcbd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22790af9d3b24c13a1ae4029884aac9f.html" target="element"> Prosesser for datadeling som har behov for purpose of use </a> </td>
																		<td> <a href="../elements/id-addee0f613ec495e8a7cec999a59bf6a.html" target="element"> Oppf&#248;lging og kontroll </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-1c6ab2bc8b754db68153512a0a88dde7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c6ab2bc8b754db68153512a0a88dde7.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2e4978779c054f2b94fbe86dd069b321.html" target="element"> Tilbydervirksomhet </a> </td>
																		<td> <a href="../elements/id-22a5dafe59e740f49e72adde30b82f1c.html" target="element"> Tilgjengeliggj&#248;re helseopplysninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b53eea838ee4ffaa1e4b0e319e80262.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b53eea838ee4ffaa1e4b0e319e80262.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2e4978779c054f2b94fbe86dd069b321.html" target="element"> Tilbydervirksomhet </a> </td>
																		<td> <a href="../elements/id-ca26aab185eb463dbe66dbe3d4e1c171.html" target="element"> Dele helseopplysninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b40e5a6f0d3e41ef8b6adaad96a79217.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b40e5a6f0d3e41ef8b6adaad96a79217.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2e4978779c054f2b94fbe86dd069b321.html" target="element"> Tilbydervirksomhet </a> </td>
																		<td> <a href="../elements/id-addee0f613ec495e8a7cec999a59bf6a.html" target="element"> Oppf&#248;lging og kontroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-391d04e4b6324688bda29a14f6d6de97.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-391d04e4b6324688bda29a14f6d6de97.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2e4978779c054f2b94fbe86dd069b321.html" target="element"> Tilbydervirksomhet </a> </td>
																		<td> <a href="../elements/id-4d80e921c01946019fc5dfcc462b240d.html" target="element"> Forberedelser i virksomheten </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-834865abcba74f0ea241ba7b122d918f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-834865abcba74f0ea241ba7b122d918f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-00e8e902472a4cdea130479d887a929a.html" target="element"> Konsumerende virksomhet </a> </td>
																		<td> <a href="../elements/id-1c99117402ec4474b6cc1f9b15a2d36a.html" target="element"> F&#229; tilgang til helseopplysninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3ed2de2dcf5d4fb2a55dc68238ac73b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ed2de2dcf5d4fb2a55dc68238ac73b1.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-00e8e902472a4cdea130479d887a929a.html" target="element"> Konsumerende virksomhet </a> </td>
																		<td> <a href="../elements/id-759502aa7c2145aa9c239bd49fefb69e.html" target="element"> Hente helseopplysninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f505d6511e8b4b35b6f2c0a42f403a56.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f505d6511e8b4b35b6f2c0a42f403a56.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-00e8e902472a4cdea130479d887a929a.html" target="element"> Konsumerende virksomhet </a> </td>
																		<td> <a href="../elements/id-addee0f613ec495e8a7cec999a59bf6a.html" target="element"> Oppf&#248;lging og kontroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4e5b5cd8dd6c4621b007a98fad45f99f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e5b5cd8dd6c4621b007a98fad45f99f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-00e8e902472a4cdea130479d887a929a.html" target="element"> Konsumerende virksomhet </a> </td>
																		<td> <a href="../elements/id-4d80e921c01946019fc5dfcc462b240d.html" target="element"> Forberedelser i virksomheten </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>