<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Tillitsrammeverk kapabiliteter</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Tillitsrammeverk kapabiliteter</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-49e3abfd07b94ea69b3fdbd8e3e20c81.png" alt="Tillitsrammeverk kapabiliteter" usemap="#id-49e3abfd07b94ea69b3fdbd8e3e20c81map"/>
			   <map name="id-49e3abfd07b94ea69b3fdbd8e3e20c81map">
				  		<area shape="rect" coords="10,100,130,167" href="../elements/id-67a45d5424c74f40b5c8f8b108b7bbf6.html"  target="element">
				  		<area shape="rect" coords="10,10,130,77" href="../elements/id-f1bc1dfa860244239d47c1b9ce940a68.html"  target="element">
				  		<area shape="rect" coords="190,100,310,167" href="../elements/id-e79f6461f9844b03a815000781e957f0.html"  target="element">
				  		<area shape="rect" coords="190,10,310,77" href="../elements/id-1dc4802c3ee0489bbd8ef3c7b5767886.html"  target="element">
				  		<area shape="rect" coords="406,76,551,155" href="../elements/id-dd48dc3966424a6b9b318460b3b523ad.html"  target="element">
				  		<area shape="rect" coords="898,376,1043,455" href="../elements/id-6bfe8e63c21c4972ba67a7a223f5a6e5.html"  target="element">
				  		<area shape="rect" coords="190,226,310,293" href="../elements/id-824bdf7926734ebca7180c2a8eeb31a0.html"  target="element">
				  		<area shape="rect" coords="1091,676,1224,751" href="../elements/id-17bbb327cb844614baee0ba3b25885a0.html"  target="element">
				  		<area shape="rect" coords="910,676,1043,751" href="../elements/id-bc3fd45c78f748e3b5d0de024656af66.html"  target="element">
				  		<area shape="rect" coords="154,658,274,713" href="../elements/id-63ba9b35b12341efa478e6ee80e65d29.html"  target="element">
				  		<area shape="rect" coords="190,586,310,641" href="../elements/id-245a446c34dc4cc3ba5b9bea88a068db.html"  target="element">
				  		<area shape="rect" coords="238,514,358,569" href="../elements/id-f6ff0285a04d47b58520864801ba25be.html"  target="element">
				  		<area shape="rect" coords="190,382,310,449" href="../elements/id-3b5f50ac57b04bdf9a7227cc9ff0a10e.html"  target="element">
				  		<area shape="rect" coords="1365,542,1498,617" href="../elements/id-edcf815591a041a2b99bf6d181dc5236.html"  target="element">
				  				<area shape="rect" coords="1546,232,1666,287" href="../elements/id-15ea5274d37f4255af5bec8abacecb6d.html"  target="element">

				          <area shape="rect" coords="1522,184,1692,317" href="../objects/id-a813b70aa9e64850a810c27da8ebf3dc.html" target="element" >
				  		<area shape="rect" coords="688,542,821,617" href="../elements/id-8ba1c6f96f624c1d9d4912b321c10c20.html"  target="element">
				  		<area shape="rect" coords="1030,542,1163,617" href="../elements/id-2287f4531e574e36aef2a0c97a914090.html"  target="element">
				  		<area shape="rect" coords="1198,542,1331,617" href="../elements/id-3e83bc3bbe27436d8ea5b3cf4c7da979.html"  target="element">
				  		<area shape="rect" coords="1126,220,1271,299" href="../elements/id-6e1bf60e571f4b2088233e5aa3309a95.html"  target="element">
				  		<area shape="rect" coords="1126,376,1271,455" href="../elements/id-d97139c14dac4897a3b4bbe5d7bf995a.html"  target="element">
				  		<area shape="rect" coords="682,376,827,455" href="../elements/id-dff3d542639f4b10876a7810540a2ed3.html"  target="element">
				  		<area shape="rect" coords="406,376,551,455" href="../elements/id-a53eb2cd1adc48a3a97cc6cbad83cee1.html"  target="element">
				  		<area shape="rect" coords="406,220,551,299" href="../elements/id-032b6b7dac344cb197ae53af587b090b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Overordnet kapabilitetsmodell for tillitsrammeverket.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-032b6b7dac344cb197ae53af587b090b.html" target="element"> Forberedelse i virksomheten </a> </td>
											    <td> <a href="../elements/id-032b6b7dac344cb197ae53af587b090b.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a53eb2cd1adc48a3a97cc6cbad83cee1.html" target="element"> Tilgjengeliggj&#248;re helseopplysninger </a> </td>
											    <td> <a href="../elements/id-a53eb2cd1adc48a3a97cc6cbad83cee1.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dff3d542639f4b10876a7810540a2ed3.html" target="element"> F&#229; tilgang til helseopplysninger </a> </td>
											    <td> <a href="../elements/id-dff3d542639f4b10876a7810540a2ed3.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d97139c14dac4897a3b4bbe5d7bf995a.html" target="element"> Hente helseopplysninger </a> </td>
											    <td> <a href="../elements/id-d97139c14dac4897a3b4bbe5d7bf995a.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6e1bf60e571f4b2088233e5aa3309a95.html" target="element"> Oppf&#248;lging og etterkontroll </a> </td>
											    <td> <a href="../elements/id-6e1bf60e571f4b2088233e5aa3309a95.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3e83bc3bbe27436d8ea5b3cf4c7da979.html" target="element"> Identifisering og autorisering av helsepersonell </a> </td>
											    <td> <a href="../elements/id-3e83bc3bbe27436d8ea5b3cf4c7da979.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2287f4531e574e36aef2a0c97a914090.html" target="element"> Dokumentering av tjenstlig behov </a> </td>
											    <td> <a href="../elements/id-2287f4531e574e36aef2a0c97a914090.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ba1c6f96f624c1d9d4912b321c10c20.html" target="element"> Identifisering og autorisering av system </a> </td>
											    <td> <a href="../elements/id-8ba1c6f96f624c1d9d4912b321c10c20.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-a813b70aa9e64850a810c27da8ebf3dc.html" target="element"> Eksterne avhengigheter </a> </td>
									           <td> <a href="../objects/id-a813b70aa9e64850a810c27da8ebf3dc.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-15ea5274d37f4255af5bec8abacecb6d.html" target="element"> Felles loggh&#229;ndtering </a> </td>
													    <td> <a href="../elements/id-15ea5274d37f4255af5bec8abacecb6d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-edcf815591a041a2b99bf6d181dc5236.html" target="element"> Logging </a> </td>
											    <td> <a href="../elements/id-edcf815591a041a2b99bf6d181dc5236.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3b5f50ac57b04bdf9a7227cc9ff0a10e.html" target="element"> Intern forvaltning </a> </td>
											    <td> <a href="../elements/id-3b5f50ac57b04bdf9a7227cc9ff0a10e.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f6ff0285a04d47b58520864801ba25be.html" target="element"> System-forvaltning </a> </td>
											    <td> <a href="../elements/id-f6ff0285a04d47b58520864801ba25be.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-245a446c34dc4cc3ba5b9bea88a068db.html" target="element"> Informasjons-forvaltning </a> </td>
											    <td> <a href="../elements/id-245a446c34dc4cc3ba5b9bea88a068db.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-63ba9b35b12341efa478e6ee80e65d29.html" target="element"> Bruker forvaltning </a> </td>
											    <td> <a href="../elements/id-63ba9b35b12341efa478e6ee80e65d29.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bc3fd45c78f748e3b5d0de024656af66.html" target="element"> H&#229;ndtering av personvern </a> </td>
											    <td> <a href="../elements/id-bc3fd45c78f748e3b5d0de024656af66.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-17bbb327cb844614baee0ba3b25885a0.html" target="element"> Sperring og nekting </a> </td>
											    <td> <a href="../elements/id-17bbb327cb844614baee0ba3b25885a0.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-824bdf7926734ebca7180c2a8eeb31a0.html" target="element"> Avtale-forvaltning </a> </td>
											    <td> <a href="../elements/id-824bdf7926734ebca7180c2a8eeb31a0.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6bfe8e63c21c4972ba67a7a223f5a6e5.html" target="element"> Dele helseopplysninger </a> </td>
											    <td> <a href="../elements/id-6bfe8e63c21c4972ba67a7a223f5a6e5.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd48dc3966424a6b9b318460b3b523ad.html" target="element"> Opptak i samarbeidet </a> </td>
											    <td> <a href="../elements/id-dd48dc3966424a6b9b318460b3b523ad.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1dc4802c3ee0489bbd8ef3c7b5767886.html" target="element"> Informasjonssikring </a> </td>
											    <td> <a href="../elements/id-1dc4802c3ee0489bbd8ef3c7b5767886.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e79f6461f9844b03a815000781e957f0.html" target="element"> Etablering av forvaltning </a> </td>
											    <td> <a href="../elements/id-e79f6461f9844b03a815000781e957f0.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f1bc1dfa860244239d47c1b9ce940a68.html" target="element"> Etablering </a> </td>
											    <td> <a href="../elements/id-f1bc1dfa860244239d47c1b9ce940a68.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-67a45d5424c74f40b5c8f8b108b7bbf6.html" target="element"> Dokumentering </a> </td>
											    <td> <a href="../elements/id-67a45d5424c74f40b5c8f8b108b7bbf6.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a1e9ede475894b568b002ef3302a2842.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a1e9ede475894b568b002ef3302a2842.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-032b6b7dac344cb197ae53af587b090b.html" target="element"> Forberedelse i virksomheten </a> </td>
																		<td> <a href="../elements/id-a53eb2cd1adc48a3a97cc6cbad83cee1.html" target="element"> Tilgjengeliggj&#248;re helseopplysninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-35b4b713f0644c1fa56efd2e0a0a049d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-35b4b713f0644c1fa56efd2e0a0a049d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-032b6b7dac344cb197ae53af587b090b.html" target="element"> Forberedelse i virksomheten </a> </td>
																		<td> <a href="../elements/id-3b5f50ac57b04bdf9a7227cc9ff0a10e.html" target="element"> Intern forvaltning </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-aa07769932a14f278545cb40456ee32a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aa07769932a14f278545cb40456ee32a.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a53eb2cd1adc48a3a97cc6cbad83cee1.html" target="element"> Tilgjengeliggj&#248;re helseopplysninger </a> </td>
																		<td> <a href="../elements/id-dff3d542639f4b10876a7810540a2ed3.html" target="element"> F&#229; tilgang til helseopplysninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0df716f104fa4044bf36a55f7a2758a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0df716f104fa4044bf36a55f7a2758a4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a53eb2cd1adc48a3a97cc6cbad83cee1.html" target="element"> Tilgjengeliggj&#248;re helseopplysninger </a> </td>
																		<td> <a href="../elements/id-8ba1c6f96f624c1d9d4912b321c10c20.html" target="element"> Identifisering og autorisering av system </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cd7e90937f8445d7827b218a5ba6806c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cd7e90937f8445d7827b218a5ba6806c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dff3d542639f4b10876a7810540a2ed3.html" target="element"> F&#229; tilgang til helseopplysninger </a> </td>
																		<td> <a href="../elements/id-8ba1c6f96f624c1d9d4912b321c10c20.html" target="element"> Identifisering og autorisering av system </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a630098b9192470593522fe6f0071e8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a630098b9192470593522fe6f0071e8c.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dff3d542639f4b10876a7810540a2ed3.html" target="element"> F&#229; tilgang til helseopplysninger </a> </td>
																		<td> <a href="../elements/id-6bfe8e63c21c4972ba67a7a223f5a6e5.html" target="element"> Dele helseopplysninger </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e5a7675f28684c098c20e371c5af4147.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e5a7675f28684c098c20e371c5af4147.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d97139c14dac4897a3b4bbe5d7bf995a.html" target="element"> Hente helseopplysninger </a> </td>
																		<td> <a href="../elements/id-6e1bf60e571f4b2088233e5aa3309a95.html" target="element"> Oppf&#248;lging og etterkontroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1ae9d57a2a014e2ab8ec7906d355ac57.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ae9d57a2a014e2ab8ec7906d355ac57.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d97139c14dac4897a3b4bbe5d7bf995a.html" target="element"> Hente helseopplysninger </a> </td>
																		<td> <a href="../elements/id-2287f4531e574e36aef2a0c97a914090.html" target="element"> Dokumentering av tjenstlig behov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a9f18d4e8bd04e9ea89d6e1a98a8e84d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a9f18d4e8bd04e9ea89d6e1a98a8e84d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d97139c14dac4897a3b4bbe5d7bf995a.html" target="element"> Hente helseopplysninger </a> </td>
																		<td> <a href="../elements/id-8ba1c6f96f624c1d9d4912b321c10c20.html" target="element"> Identifisering og autorisering av system </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cf0bf0f004c24c6191aae8e34b6c8329.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf0bf0f004c24c6191aae8e34b6c8329.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e83bc3bbe27436d8ea5b3cf4c7da979.html" target="element"> Identifisering og autorisering av helsepersonell </a> </td>
																		<td> <a href="../elements/id-d97139c14dac4897a3b4bbe5d7bf995a.html" target="element"> Hente helseopplysninger </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-35611267956449ea9a65d55a2da314ac.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-35611267956449ea9a65d55a2da314ac.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-15ea5274d37f4255af5bec8abacecb6d.html" target="element"> Felles loggh&#229;ndtering </a> </td>
																				<td> <a href="../elements/id-6e1bf60e571f4b2088233e5aa3309a95.html" target="element"> Oppf&#248;lging og etterkontroll </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-8f97eb2ae7864dddbae0a93232dacd40.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f97eb2ae7864dddbae0a93232dacd40.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcf815591a041a2b99bf6d181dc5236.html" target="element"> Logging </a> </td>
																		<td> <a href="../elements/id-d97139c14dac4897a3b4bbe5d7bf995a.html" target="element"> Hente helseopplysninger </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-50e7d0e68a5a4dc2964267eebbc5602f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-50e7d0e68a5a4dc2964267eebbc5602f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3b5f50ac57b04bdf9a7227cc9ff0a10e.html" target="element"> Intern forvaltning </a> </td>
																		<td> <a href="../elements/id-f6ff0285a04d47b58520864801ba25be.html" target="element"> System-forvaltning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e07c267ef7664545ae1cab14020e6553.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e07c267ef7664545ae1cab14020e6553.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3b5f50ac57b04bdf9a7227cc9ff0a10e.html" target="element"> Intern forvaltning </a> </td>
																		<td> <a href="../elements/id-245a446c34dc4cc3ba5b9bea88a068db.html" target="element"> Informasjons-forvaltning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-649ffbfafcce412399574476d27f9067.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-649ffbfafcce412399574476d27f9067.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3b5f50ac57b04bdf9a7227cc9ff0a10e.html" target="element"> Intern forvaltning </a> </td>
																		<td> <a href="../elements/id-63ba9b35b12341efa478e6ee80e65d29.html" target="element"> Bruker forvaltning </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c3e9a4017bb14089b605af9bbc7f9bb6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c3e9a4017bb14089b605af9bbc7f9bb6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f6ff0285a04d47b58520864801ba25be.html" target="element"> System-forvaltning </a> </td>
																		<td> <a href="../elements/id-a53eb2cd1adc48a3a97cc6cbad83cee1.html" target="element"> Tilgjengeliggj&#248;re helseopplysninger </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bd564a52eb014067a24bcde017f1d8ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd564a52eb014067a24bcde017f1d8ea.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-245a446c34dc4cc3ba5b9bea88a068db.html" target="element"> Informasjons-forvaltning </a> </td>
																		<td> <a href="../elements/id-a53eb2cd1adc48a3a97cc6cbad83cee1.html" target="element"> Tilgjengeliggj&#248;re helseopplysninger </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fbdbbb2a794b43b2be46e3a3f6d32d50.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fbdbbb2a794b43b2be46e3a3f6d32d50.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc3fd45c78f748e3b5d0de024656af66.html" target="element"> H&#229;ndtering av personvern </a> </td>
																		<td> <a href="../elements/id-17bbb327cb844614baee0ba3b25885a0.html" target="element"> Sperring og nekting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e89bf8bd1d904d578c7eea9631055dbf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e89bf8bd1d904d578c7eea9631055dbf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc3fd45c78f748e3b5d0de024656af66.html" target="element"> H&#229;ndtering av personvern </a> </td>
																		<td> <a href="../elements/id-6bfe8e63c21c4972ba67a7a223f5a6e5.html" target="element"> Dele helseopplysninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-adf8fccc6bfb4b8faf81057fb7f837c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-adf8fccc6bfb4b8faf81057fb7f837c1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc3fd45c78f748e3b5d0de024656af66.html" target="element"> H&#229;ndtering av personvern </a> </td>
																		<td> <a href="../elements/id-a53eb2cd1adc48a3a97cc6cbad83cee1.html" target="element"> Tilgjengeliggj&#248;re helseopplysninger </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cf7b75152f1b4ee8afcdd6171e68a5be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf7b75152f1b4ee8afcdd6171e68a5be.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-824bdf7926734ebca7180c2a8eeb31a0.html" target="element"> Avtale-forvaltning </a> </td>
																		<td> <a href="../elements/id-032b6b7dac344cb197ae53af587b090b.html" target="element"> Forberedelse i virksomheten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c7f80de2c71a453f8b70c40932441799.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c7f80de2c71a453f8b70c40932441799.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-824bdf7926734ebca7180c2a8eeb31a0.html" target="element"> Avtale-forvaltning </a> </td>
																		<td> <a href="../elements/id-dd48dc3966424a6b9b318460b3b523ad.html" target="element"> Opptak i samarbeidet </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b6970012c1324bceb0a2872b8c1d4740.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b6970012c1324bceb0a2872b8c1d4740.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bfe8e63c21c4972ba67a7a223f5a6e5.html" target="element"> Dele helseopplysninger </a> </td>
																		<td> <a href="../elements/id-d97139c14dac4897a3b4bbe5d7bf995a.html" target="element"> Hente helseopplysninger </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-454da743d0144d8695c8c6cce46c5ee6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-454da743d0144d8695c8c6cce46c5ee6.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd48dc3966424a6b9b318460b3b523ad.html" target="element"> Opptak i samarbeidet </a> </td>
																		<td> <a href="../elements/id-032b6b7dac344cb197ae53af587b090b.html" target="element"> Forberedelse i virksomheten </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fef9af0c508645b5b73973dc0c591a4f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fef9af0c508645b5b73973dc0c591a4f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1dc4802c3ee0489bbd8ef3c7b5767886.html" target="element"> Informasjonssikring </a> </td>
																		<td> <a href="../elements/id-dd48dc3966424a6b9b318460b3b523ad.html" target="element"> Opptak i samarbeidet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c9d5a79f048647b0aadcc6160fab6824.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c9d5a79f048647b0aadcc6160fab6824.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1dc4802c3ee0489bbd8ef3c7b5767886.html" target="element"> Informasjonssikring </a> </td>
																		<td> <a href="../elements/id-f1bc1dfa860244239d47c1b9ce940a68.html" target="element"> Etablering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9cfc45a22d694264875557ac6ce89a82.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9cfc45a22d694264875557ac6ce89a82.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1dc4802c3ee0489bbd8ef3c7b5767886.html" target="element"> Informasjonssikring </a> </td>
																		<td> <a href="../elements/id-67a45d5424c74f40b5c8f8b108b7bbf6.html" target="element"> Dokumentering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-04afb3b6066f4867aab5dc208bb3a536.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-04afb3b6066f4867aab5dc208bb3a536.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e79f6461f9844b03a815000781e957f0.html" target="element"> Etablering av forvaltning </a> </td>
																		<td> <a href="../elements/id-dd48dc3966424a6b9b318460b3b523ad.html" target="element"> Opptak i samarbeidet </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>