<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Interessenter og concerns: Innbygger</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Interessenter og concerns: Innbygger</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-42318e6eab084462903110716fe97c7f.png" alt="Interessenter og concerns: Innbygger" usemap="#id-42318e6eab084462903110716fe97c7fmap"/>
			   <map name="id-42318e6eab084462903110716fe97c7fmap">
				  		<area shape="rect" coords="10,387,152,501" href="../elements/id-6ff8734cd6954a1391fe7106b5d26839.html"  target="element">
				  		<area shape="rect" coords="610,387,752,501" href="../elements/id-cc02e61ad3d54d2989c5104fa9cbf7fb.html"  target="element">
				  		<area shape="rect" coords="550,274,692,340" href="../elements/id-c8a5b39509c548419ea59a0f3cd0b5d5.html"  target="element">
				  		<area shape="rect" coords="550,142,692,208" href="../elements/id-c9120ed1101242e2b5dcb7d84cbe336e.html"  target="element">
				  		<area shape="rect" coords="274,142,416,208" href="../elements/id-f0402c3fcd9e483a96707ca8e9555253.html"  target="element">
				  		<area shape="rect" coords="409,387,551,501" href="../elements/id-ec69a2363c1a4dadae0c4180100eb57d.html"  target="element">
				  		<area shape="rect" coords="190,411,332,477" href="../elements/id-94579958ae744622a951136c88f40765.html"  target="element">
				  		<area shape="rect" coords="10,142,152,208" href="../elements/id-42b2aa1dd05d4806a7b42a449b03cfce.html"  target="element">
				  		<area shape="rect" coords="274,10,416,76" href="../elements/id-db3e341689884c8a8e8c931a448cd37c.html"  target="element">
				  		<area shape="rect" coords="10,274,152,340" href="../elements/id-43a8b3f8c74540e0b8f5ad1b685d6a39.html"  target="element">
				  		<area shape="rect" coords="274,274,416,340" href="../elements/id-672272e6dd954fa3bb02f38390a5afee.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-672272e6dd954fa3bb02f38390a5afee.html" target="element"> Usikkerhet om personvern og taushetsplikt blir ivaretatt </a> </td>
											    <td> <a href="../elements/id-672272e6dd954fa3bb02f38390a5afee.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-43a8b3f8c74540e0b8f5ad1b685d6a39.html" target="element"> Langsom utbredelse av informasjons-tjenester </a> </td>
											    <td> <a href="../elements/id-43a8b3f8c74540e0b8f5ad1b685d6a39.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-db3e341689884c8a8e8c931a448cd37c.html" target="element"> Innbygger </a> </td>
											    <td> <a href="../elements/id-db3e341689884c8a8e8c931a448cd37c.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-42b2aa1dd05d4806a7b42a449b03cfce.html" target="element"> Pasientsikkerhet </a> </td>
											    <td> <a href="../elements/id-42b2aa1dd05d4806a7b42a449b03cfce.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-94579958ae744622a951136c88f40765.html" target="element"> Mange steder &#229; sette personvern-innstillinger </a> </td>
											    <td> <a href="../elements/id-94579958ae744622a951136c88f40765.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ec69a2363c1a4dadae0c4180100eb57d.html" target="element"> Mangler oversikt over hvem og hvorfor helsepersonell har bedt om tilgang til egne helseopplysninger </a> </td>
											    <td> <a href="../elements/id-ec69a2363c1a4dadae0c4180100eb57d.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f0402c3fcd9e483a96707ca8e9555253.html" target="element"> Tillit til helsevirksomheter </a> </td>
											    <td> <a href="../elements/id-f0402c3fcd9e483a96707ca8e9555253.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c9120ed1101242e2b5dcb7d84cbe336e.html" target="element"> Tilgang til egne/p&#229;r&#248;rende helseopplysninger </a> </td>
											    <td> <a href="../elements/id-c9120ed1101242e2b5dcb7d84cbe336e.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c8a5b39509c548419ea59a0f3cd0b5d5.html" target="element"> D&#229;rlig oversikt over egne helseopplysninger </a> </td>
											    <td> <a href="../elements/id-c8a5b39509c548419ea59a0f3cd0b5d5.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cc02e61ad3d54d2989c5104fa9cbf7fb.html" target="element"> Manglende oversikt over tilgjengelige informasjons-tjenester </a> </td>
											    <td> <a href="../elements/id-cc02e61ad3d54d2989c5104fa9cbf7fb.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6ff8734cd6954a1391fe7106b5d26839.html" target="element"> Store forskjeller i hvilke tjenester som er tilgjegnelige for innbygger for ulike geografiske omr&#229;der </a> </td>
											    <td> <a href="../elements/id-6ff8734cd6954a1391fe7106b5d26839.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b5a7ab92ca2d4a86aee793a1d543e3b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5a7ab92ca2d4a86aee793a1d543e3b9.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-672272e6dd954fa3bb02f38390a5afee.html" target="element"> Usikkerhet om personvern og taushetsplikt blir ivaretatt </a> </td>
																		<td> <a href="../elements/id-43a8b3f8c74540e0b8f5ad1b685d6a39.html" target="element"> Langsom utbredelse av informasjons-tjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-31cdd8469814458badbbe61c9a6328a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-31cdd8469814458badbbe61c9a6328a4.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-672272e6dd954fa3bb02f38390a5afee.html" target="element"> Usikkerhet om personvern og taushetsplikt blir ivaretatt </a> </td>
																		<td> <a href="../elements/id-f0402c3fcd9e483a96707ca8e9555253.html" target="element"> Tillit til helsevirksomheter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ae400d5665374823a9872429d0f9a1cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ae400d5665374823a9872429d0f9a1cd.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-43a8b3f8c74540e0b8f5ad1b685d6a39.html" target="element"> Langsom utbredelse av informasjons-tjenester </a> </td>
																		<td> <a href="../elements/id-42b2aa1dd05d4806a7b42a449b03cfce.html" target="element"> Pasientsikkerhet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b26ca91dcf7649f0ab720160cc6d7050.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b26ca91dcf7649f0ab720160cc6d7050.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-43a8b3f8c74540e0b8f5ad1b685d6a39.html" target="element"> Langsom utbredelse av informasjons-tjenester </a> </td>
																		<td> <a href="../elements/id-f0402c3fcd9e483a96707ca8e9555253.html" target="element"> Tillit til helsevirksomheter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d63d66dc3a00480abee5e40bd97100eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d63d66dc3a00480abee5e40bd97100eb.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-43a8b3f8c74540e0b8f5ad1b685d6a39.html" target="element"> Langsom utbredelse av informasjons-tjenester </a> </td>
																		<td> <a href="../elements/id-6ff8734cd6954a1391fe7106b5d26839.html" target="element"> Store forskjeller i hvilke tjenester som er tilgjegnelige for innbygger for ulike geografiske omr&#229;der </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5aadaff385154bebbeafbc7ad60f10a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5aadaff385154bebbeafbc7ad60f10a7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-db3e341689884c8a8e8c931a448cd37c.html" target="element"> Innbygger </a> </td>
																		<td> <a href="../elements/id-f0402c3fcd9e483a96707ca8e9555253.html" target="element"> Tillit til helsevirksomheter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1f15494903364264b5d3cb0e18101a67.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f15494903364264b5d3cb0e18101a67.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-db3e341689884c8a8e8c931a448cd37c.html" target="element"> Innbygger </a> </td>
																		<td> <a href="../elements/id-42b2aa1dd05d4806a7b42a449b03cfce.html" target="element"> Pasientsikkerhet </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c2091c77fbe546a1aa393030d8f2bdf9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2091c77fbe546a1aa393030d8f2bdf9.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94579958ae744622a951136c88f40765.html" target="element"> Mange steder &#229; sette personvern-innstillinger </a> </td>
																		<td> <a href="../elements/id-672272e6dd954fa3bb02f38390a5afee.html" target="element"> Usikkerhet om personvern og taushetsplikt blir ivaretatt </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-acd9a83b3fa2479b878f420b69792bb3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-acd9a83b3fa2479b878f420b69792bb3.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec69a2363c1a4dadae0c4180100eb57d.html" target="element"> Mangler oversikt over hvem og hvorfor helsepersonell har bedt om tilgang til egne helseopplysninger </a> </td>
																		<td> <a href="../elements/id-672272e6dd954fa3bb02f38390a5afee.html" target="element"> Usikkerhet om personvern og taushetsplikt blir ivaretatt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a7d3f3e2fbe6418db72e79c31155fc55.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7d3f3e2fbe6418db72e79c31155fc55.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec69a2363c1a4dadae0c4180100eb57d.html" target="element"> Mangler oversikt over hvem og hvorfor helsepersonell har bedt om tilgang til egne helseopplysninger </a> </td>
																		<td> <a href="../elements/id-c8a5b39509c548419ea59a0f3cd0b5d5.html" target="element"> D&#229;rlig oversikt over egne helseopplysninger </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3f2e5bb9c80f49f09d01da08bc9b7b13.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f2e5bb9c80f49f09d01da08bc9b7b13.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9120ed1101242e2b5dcb7d84cbe336e.html" target="element"> Tilgang til egne/p&#229;r&#248;rende helseopplysninger </a> </td>
																		<td> <a href="../elements/id-db3e341689884c8a8e8c931a448cd37c.html" target="element"> Innbygger </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1d9c9d962ddc4cac8008f5d6d9aa9c1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d9c9d962ddc4cac8008f5d6d9aa9c1b.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8a5b39509c548419ea59a0f3cd0b5d5.html" target="element"> D&#229;rlig oversikt over egne helseopplysninger </a> </td>
																		<td> <a href="../elements/id-c9120ed1101242e2b5dcb7d84cbe336e.html" target="element"> Tilgang til egne/p&#229;r&#248;rende helseopplysninger </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f27793889e234e81936fd5988a7ba47c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f27793889e234e81936fd5988a7ba47c.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cc02e61ad3d54d2989c5104fa9cbf7fb.html" target="element"> Manglende oversikt over tilgjengelige informasjons-tjenester </a> </td>
																		<td> <a href="../elements/id-c8a5b39509c548419ea59a0f3cd0b5d5.html" target="element"> D&#229;rlig oversikt over egne helseopplysninger </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-62a97635250845379017c426c3263d79.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-62a97635250845379017c426c3263d79.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ff8734cd6954a1391fe7106b5d26839.html" target="element"> Store forskjeller i hvilke tjenester som er tilgjegnelige for innbygger for ulike geografiske omr&#229;der </a> </td>
																		<td> <a href="../elements/id-cc02e61ad3d54d2989c5104fa9cbf7fb.html" target="element"> Manglende oversikt over tilgjengelige informasjons-tjenester </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>