<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Begreper</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Begreper</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4d622527e148494ab3a057ae2546f53a.png" alt="Begreper" usemap="#id-4d622527e148494ab3a057ae2546f53amap"/>
			   <map name="id-4d622527e148494ab3a057ae2546f53amap">
				  		<area shape="rect" coords="226,370,346,425" href="../elements/id-84edb0d80fd2449399cff2189676d162.html"  target="element">
				  		<area shape="rect" coords="946,10,1066,65" href="../elements/id-2e4978779c054f2b94fbe86dd069b321.html"  target="element">
				  		<area shape="rect" coords="946,250,1066,305" href="../elements/id-00e8e902472a4cdea130479d887a929a.html"  target="element">
				  		<area shape="rect" coords="10,250,130,305" href="../elements/id-61cdf47f06204a4f9ca9402b47cebf9f.html"  target="element">
				  		<area shape="rect" coords="10,370,130,425" href="../elements/id-51bc28f7728f4327b279fe3daf440d80.html"  target="element">
				  		<area shape="rect" coords="730,10,850,65" href="../elements/id-7910e161179b46eda055f1777838dc70.html"  target="element">
				  		<area shape="rect" coords="946,130,1066,185" href="../elements/id-7a7d20f092ec4efcbac694dd7861323f.html"  target="element">
				  		<area shape="rect" coords="574,250,694,305" href="../elements/id-73cf94bf81c64ca1871b3b78c4b34a43.html"  target="element">
				  		<area shape="rect" coords="394,250,514,305" href="../elements/id-5394afcea214407eb9b1db4b545c861b.html"  target="element">
				  		<area shape="rect" coords="10,130,130,185" href="../elements/id-ce0ae00329ed40af9e74bfd39df6db99.html"  target="element">
				  		<area shape="rect" coords="478,322,598,377" href="../elements/id-8d719bac8dbc4f6891c792d39aaf9086.html"  target="element">
				  		<area shape="rect" coords="730,250,850,305" href="../elements/id-21ac5529e8ef4b7e8059213c2142785a.html"  target="element">
				  		<area shape="rect" coords="226,250,346,305" href="../elements/id-668a5f0d701e4866a3914109d896e738.html"  target="element">
				  		<area shape="rect" coords="226,10,346,65" href="../elements/id-d03b201096d04513aa467316bc2028dc.html"  target="element">
				  		<area shape="rect" coords="489,10,609,65" href="../elements/id-f896cf8ea4924aa985252ffe96d9e6b1.html"  target="element">
				  		<area shape="rect" coords="730,130,850,185" href="../elements/id-2be596154b76439ebf0549776e3b7b7c.html"  target="element">
				  		<area shape="rect" coords="490,130,610,185" href="../elements/id-c7f47bc5b0274192bff07402aa480ef6.html"  target="element">
				  		<area shape="rect" coords="226,130,346,185" href="../elements/id-fb40801342e24cde87da01097d3fdd84.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Kan v&#230;re standarder.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-fb40801342e24cde87da01097d3fdd84.html" target="element"> Tillitsmodell </a> </td>
											    <td> <a href="../elements/id-fb40801342e24cde87da01097d3fdd84.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c7f47bc5b0274192bff07402aa480ef6.html" target="element"> Tillitsrammeverk </a> </td>
											    <td> <a href="../elements/id-c7f47bc5b0274192bff07402aa480ef6.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2be596154b76439ebf0549776e3b7b7c.html" target="element"> Tillitstjenester </a> </td>
											    <td> <a href="../elements/id-2be596154b76439ebf0549776e3b7b7c.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f896cf8ea4924aa985252ffe96d9e6b1.html" target="element"> Tillitsanker </a> </td>
											    <td> <a href="../elements/id-f896cf8ea4924aa985252ffe96d9e6b1.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d03b201096d04513aa467316bc2028dc.html" target="element"> Konsept </a> </td>
											    <td> <a href="../elements/id-d03b201096d04513aa467316bc2028dc.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-668a5f0d701e4866a3914109d896e738.html" target="element"> Behov </a> </td>
											    <td> <a href="../elements/id-668a5f0d701e4866a3914109d896e738.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-21ac5529e8ef4b7e8059213c2142785a.html" target="element"> Prosesser </a> </td>
											    <td> <a href="../elements/id-21ac5529e8ef4b7e8059213c2142785a.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8d719bac8dbc4f6891c792d39aaf9086.html" target="element"> Avtaler </a> </td>
											    <td> <a href="../elements/id-8d719bac8dbc4f6891c792d39aaf9086.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ce0ae00329ed40af9e74bfd39df6db99.html" target="element"> Lovverk </a> </td>
											    <td> <a href="../elements/id-ce0ae00329ed40af9e74bfd39df6db99.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5394afcea214407eb9b1db4b545c861b.html" target="element"> Rammeverk for risikovurderinger </a> </td>
											    <td> <a href="../elements/id-5394afcea214407eb9b1db4b545c861b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-73cf94bf81c64ca1871b3b78c4b34a43.html" target="element"> Krav og retningslinjer </a> </td>
											    <td> <a href="../elements/id-73cf94bf81c64ca1871b3b78c4b34a43.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7a7d20f092ec4efcbac694dd7861323f.html" target="element"> Helsevirksomhet </a> </td>
											    <td> <a href="../elements/id-7a7d20f092ec4efcbac694dd7861323f.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7910e161179b46eda055f1777838dc70.html" target="element"> Applikasjonstjeneste </a> </td>
											    <td> <a href="../elements/id-7910e161179b46eda055f1777838dc70.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-51bc28f7728f4327b279fe3daf440d80.html" target="element"> Helsepersonell </a> </td>
											    <td> <a href="../elements/id-51bc28f7728f4327b279fe3daf440d80.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61cdf47f06204a4f9ca9402b47cebf9f.html" target="element"> Innbygger </a> </td>
											    <td> <a href="../elements/id-61cdf47f06204a4f9ca9402b47cebf9f.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-00e8e902472a4cdea130479d887a929a.html" target="element"> Konsumerende virksomhet </a> </td>
											    <td> <a href="../elements/id-00e8e902472a4cdea130479d887a929a.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2e4978779c054f2b94fbe86dd069b321.html" target="element"> Tilbydervirksomhet </a> </td>
											    <td> <a href="../elements/id-2e4978779c054f2b94fbe86dd069b321.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-84edb0d80fd2449399cff2189676d162.html" target="element"> Helsevirksomhet  </a> </td>
											    <td> <a href="../elements/id-84edb0d80fd2449399cff2189676d162.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0d774675ed334306b1cd353a805cd6c0.html" target="element"> gir rammer for </a> </td>
																		<td> <a href="../elements/id-0d774675ed334306b1cd353a805cd6c0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fb40801342e24cde87da01097d3fdd84.html" target="element"> Tillitsmodell </a> </td>
																		<td> <a href="../elements/id-c7f47bc5b0274192bff07402aa480ef6.html" target="element"> Tillitsrammeverk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f6421072df33499099c1438215463d6a.html" target="element"> beskriver </a> </td>
																		<td> <a href="../elements/id-f6421072df33499099c1438215463d6a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fb40801342e24cde87da01097d3fdd84.html" target="element"> Tillitsmodell </a> </td>
																		<td> <a href="../elements/id-d03b201096d04513aa467316bc2028dc.html" target="element"> Konsept </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4d78d2d0b303487db60f85d1aab31ae7.html" target="element"> best&#229;r av </a> </td>
																		<td> <a href="../elements/id-4d78d2d0b303487db60f85d1aab31ae7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7f47bc5b0274192bff07402aa480ef6.html" target="element"> Tillitsrammeverk </a> </td>
																		<td> <a href="../elements/id-2be596154b76439ebf0549776e3b7b7c.html" target="element"> Tillitstjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cfd3bb7e408d4182a0fd3c3800455d34.html" target="element"> realisering og erfaringer </a> </td>
																		<td> <a href="../elements/id-cfd3bb7e408d4182a0fd3c3800455d34.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7f47bc5b0274192bff07402aa480ef6.html" target="element"> Tillitsrammeverk </a> </td>
																		<td> <a href="../elements/id-fb40801342e24cde87da01097d3fdd84.html" target="element"> Tillitsmodell </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0a8a698edfa544879e73de2c32e59fee.html" target="element"> best&#229;r av </a> </td>
																		<td> <a href="../elements/id-0a8a698edfa544879e73de2c32e59fee.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7f47bc5b0274192bff07402aa480ef6.html" target="element"> Tillitsrammeverk </a> </td>
																		<td> <a href="../elements/id-8d719bac8dbc4f6891c792d39aaf9086.html" target="element"> Avtaler </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5b0081ce72894b65835dba2a6a08164a.html" target="element"> implementerer </a> </td>
																		<td> <a href="../elements/id-5b0081ce72894b65835dba2a6a08164a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7f47bc5b0274192bff07402aa480ef6.html" target="element"> Tillitsrammeverk </a> </td>
																		<td> <a href="../elements/id-73cf94bf81c64ca1871b3b78c4b34a43.html" target="element"> Krav og retningslinjer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5462b79105c74461aa79c8fadf8e491d.html" target="element"> brukes av </a> </td>
																		<td> <a href="../elements/id-5462b79105c74461aa79c8fadf8e491d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2be596154b76439ebf0549776e3b7b7c.html" target="element"> Tillitstjenester </a> </td>
																		<td> <a href="../elements/id-7a7d20f092ec4efcbac694dd7861323f.html" target="element"> Helsevirksomhet </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2ec715ddabcf4cd480ce6518a11b687e.html" target="element"> tilbys av </a> </td>
																		<td> <a href="../elements/id-2ec715ddabcf4cd480ce6518a11b687e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f896cf8ea4924aa985252ffe96d9e6b1.html" target="element"> Tillitsanker </a> </td>
																		<td> <a href="../elements/id-c7f47bc5b0274192bff07402aa480ef6.html" target="element"> Tillitsrammeverk </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-de88ad2eddab44c9b5704facff6dfc02.html" target="element"> beskriver </a> </td>
																		<td> <a href="../elements/id-de88ad2eddab44c9b5704facff6dfc02.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-668a5f0d701e4866a3914109d896e738.html" target="element"> Behov </a> </td>
																		<td> <a href="../elements/id-fb40801342e24cde87da01097d3fdd84.html" target="element"> Tillitsmodell </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-66e88743c7e34172b26148a6a0ea21b6.html" target="element"> best&#229;r av </a> </td>
																		<td> <a href="../elements/id-66e88743c7e34172b26148a6a0ea21b6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21ac5529e8ef4b7e8059213c2142785a.html" target="element"> Prosesser </a> </td>
																		<td> <a href="../elements/id-c7f47bc5b0274192bff07402aa480ef6.html" target="element"> Tillitsrammeverk </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5fd9e713437a48b1a4f93fd19af90e5c.html" target="element"> gir rammer for </a> </td>
																		<td> <a href="../elements/id-5fd9e713437a48b1a4f93fd19af90e5c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce0ae00329ed40af9e74bfd39df6db99.html" target="element"> Lovverk </a> </td>
																		<td> <a href="../elements/id-fb40801342e24cde87da01097d3fdd84.html" target="element"> Tillitsmodell </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b4f4348f2ae949aab6d6a219046a764b.html" target="element"> best&#229;r av </a> </td>
																		<td> <a href="../elements/id-b4f4348f2ae949aab6d6a219046a764b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5394afcea214407eb9b1db4b545c861b.html" target="element"> Rammeverk for risikovurderinger </a> </td>
																		<td> <a href="../elements/id-c7f47bc5b0274192bff07402aa480ef6.html" target="element"> Tillitsrammeverk </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-94dc9881d43f44ec9c1a0dee4c52500a.html" target="element"> bruker og implementerer </a> </td>
																		<td> <a href="../elements/id-94dc9881d43f44ec9c1a0dee4c52500a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7910e161179b46eda055f1777838dc70.html" target="element"> Applikasjonstjeneste </a> </td>
																		<td> <a href="../elements/id-2be596154b76439ebf0549776e3b7b7c.html" target="element"> Tillitstjenester </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4009d505615540c8872cf2187060e51e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4009d505615540c8872cf2187060e51e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51bc28f7728f4327b279fe3daf440d80.html" target="element"> Helsepersonell </a> </td>
																		<td> <a href="../elements/id-668a5f0d701e4866a3914109d896e738.html" target="element"> Behov </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bbd83b06243141b1af7589390cdfd0f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bbd83b06243141b1af7589390cdfd0f6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61cdf47f06204a4f9ca9402b47cebf9f.html" target="element"> Innbygger </a> </td>
																		<td> <a href="../elements/id-668a5f0d701e4866a3914109d896e738.html" target="element"> Behov </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c578370a2c3244b3808ec286f4760d7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c578370a2c3244b3808ec286f4760d7d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-00e8e902472a4cdea130479d887a929a.html" target="element"> Konsumerende virksomhet </a> </td>
																		<td> <a href="../elements/id-7a7d20f092ec4efcbac694dd7861323f.html" target="element"> Helsevirksomhet </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ff283a0c90c8496bb02cb644e4c1574f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff283a0c90c8496bb02cb644e4c1574f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2e4978779c054f2b94fbe86dd069b321.html" target="element"> Tilbydervirksomhet </a> </td>
																		<td> <a href="../elements/id-7a7d20f092ec4efcbac694dd7861323f.html" target="element"> Helsevirksomhet </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0e43cb16b5014d489d5bcad0f22267a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e43cb16b5014d489d5bcad0f22267a9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-84edb0d80fd2449399cff2189676d162.html" target="element"> Helsevirksomhet  </a> </td>
																		<td> <a href="../elements/id-668a5f0d701e4866a3914109d896e738.html" target="element"> Behov </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>