<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Tillitsrammeverket prosesser</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Tillitsrammeverket prosesser</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-71071d55ed9241eeb9a7bc897c77a879.png" alt="Tillitsrammeverket prosesser" usemap="#id-71071d55ed9241eeb9a7bc897c77a879map"/>
			   <map name="id-71071d55ed9241eeb9a7bc897c77a879map">
				  		<area shape="rect" coords="396,406,516,461" href="../elements/id-f896cf8ea4924aa985252ffe96d9e6b1.html"  target="element">
				  		<area shape="rect" coords="406,154,506,213" href="../elements/id-00e8e902472a4cdea130479d887a929a.html"  target="element">
				  		<area shape="rect" coords="406,52,506,111" href="../elements/id-2e4978779c054f2b94fbe86dd069b321.html"  target="element">
				  		<area shape="rect" coords="396,286,516,341" href="../elements/id-c7f47bc5b0274192bff07402aa480ef6.html"  target="element">
				  		<area shape="rect" coords="761,148,870,219" href="../elements/id-759502aa7c2145aa9c239bd49fefb69e.html"  target="element">
				  		<area shape="rect" coords="761,46,870,117" href="../elements/id-ca26aab185eb463dbe66dbe3d4e1c171.html"  target="element">
				  		<area shape="rect" coords="586,148,695,219" href="../elements/id-1c99117402ec4474b6cc1f9b15a2d36a.html"  target="element">
				  		<area shape="rect" coords="586,46,695,117" href="../elements/id-22a5dafe59e740f49e72adde30b82f1c.html"  target="element">
				  		<area shape="rect" coords="226,88,335,159" href="../elements/id-4d80e921c01946019fc5dfcc462b240d.html"  target="element">
				  		<area shape="rect" coords="34,88,143,159" href="../elements/id-41b0743433b54667b6758fd550ef4e7b.html"  target="element">
				  		<area shape="rect" coords="550,10,911,251" href="../elements/id-23a8a4f862e54ac2a7d876b184c9bef0.html"  target="element">
				  		<area shape="rect" coords="10,10,371,251" href="../elements/id-81d7bf21ac7e4c718dd482bdf2b5fa04.html"  target="element">
				  				<area shape="rect" coords="946,106,1055,177" href="../elements/id-addee0f613ec495e8a7cec999a59bf6a.html"  target="element">

				  		<area shape="rect" coords="922,10,1067,251" href="../elements/id-ebba7add544d4e22968cde146b4225b8.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Prosesser og roller som tillitsrammeverket skal underst&#248;tte.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ebba7add544d4e22968cde146b4225b8.html" target="element"> Oppf&#248;lging og etterkontroll </a> </td>
											    <td> <a href="../elements/id-ebba7add544d4e22968cde146b4225b8.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-addee0f613ec495e8a7cec999a59bf6a.html" target="element"> Oppf&#248;lging og kontroll </a> </td>
													    <td> <a href="../elements/id-addee0f613ec495e8a7cec999a59bf6a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-81d7bf21ac7e4c718dd482bdf2b5fa04.html" target="element"> Forberedende prosesser </a> </td>
											    <td> <a href="../elements/id-81d7bf21ac7e4c718dd482bdf2b5fa04.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-23a8a4f862e54ac2a7d876b184c9bef0.html" target="element"> Dele og hente helseopplysninger </a> </td>
											    <td> <a href="../elements/id-23a8a4f862e54ac2a7d876b184c9bef0.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-41b0743433b54667b6758fd550ef4e7b.html" target="element"> Opptak i samarbeidet </a> </td>
											    <td> <a href="../elements/id-41b0743433b54667b6758fd550ef4e7b.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4d80e921c01946019fc5dfcc462b240d.html" target="element"> Forberedelser i virksomheten </a> </td>
											    <td> <a href="../elements/id-4d80e921c01946019fc5dfcc462b240d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-22a5dafe59e740f49e72adde30b82f1c.html" target="element"> Tilgjengeliggj&#248;re helseopplysninger </a> </td>
											    <td> <a href="../elements/id-22a5dafe59e740f49e72adde30b82f1c.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1c99117402ec4474b6cc1f9b15a2d36a.html" target="element"> F&#229; tilgang til helseopplysninger </a> </td>
											    <td> <a href="../elements/id-1c99117402ec4474b6cc1f9b15a2d36a.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ca26aab185eb463dbe66dbe3d4e1c171.html" target="element"> Dele helseopplysninger </a> </td>
											    <td> <a href="../elements/id-ca26aab185eb463dbe66dbe3d4e1c171.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-759502aa7c2145aa9c239bd49fefb69e.html" target="element"> Hente helseopplysninger </a> </td>
											    <td> <a href="../elements/id-759502aa7c2145aa9c239bd49fefb69e.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c7f47bc5b0274192bff07402aa480ef6.html" target="element"> Tillitsrammeverk </a> </td>
											    <td> <a href="../elements/id-c7f47bc5b0274192bff07402aa480ef6.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2e4978779c054f2b94fbe86dd069b321.html" target="element"> Tilbydervirksomhet </a> </td>
											    <td> <a href="../elements/id-2e4978779c054f2b94fbe86dd069b321.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-00e8e902472a4cdea130479d887a929a.html" target="element"> Konsumerende virksomhet </a> </td>
											    <td> <a href="../elements/id-00e8e902472a4cdea130479d887a929a.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f896cf8ea4924aa985252ffe96d9e6b1.html" target="element"> Tillitsanker </a> </td>
											    <td> <a href="../elements/id-f896cf8ea4924aa985252ffe96d9e6b1.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											
																	<tr>
																		<td> <a href="../elements/id-8a8da6d2edfe498bafdb58daf557727b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a8da6d2edfe498bafdb58daf557727b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-41b0743433b54667b6758fd550ef4e7b.html" target="element"> Opptak i samarbeidet </a> </td>
																		<td> <a href="../elements/id-4d80e921c01946019fc5dfcc462b240d.html" target="element"> Forberedelser i virksomheten </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b5b1949cdd4f444b8377198304dea329.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5b1949cdd4f444b8377198304dea329.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22a5dafe59e740f49e72adde30b82f1c.html" target="element"> Tilgjengeliggj&#248;re helseopplysninger </a> </td>
																		<td> <a href="../elements/id-ca26aab185eb463dbe66dbe3d4e1c171.html" target="element"> Dele helseopplysninger </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1f3dcc8189ad4adc979a4d1903dba52d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f3dcc8189ad4adc979a4d1903dba52d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c99117402ec4474b6cc1f9b15a2d36a.html" target="element"> F&#229; tilgang til helseopplysninger </a> </td>
																		<td> <a href="../elements/id-759502aa7c2145aa9c239bd49fefb69e.html" target="element"> Hente helseopplysninger </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-195bbb998cd54ad7ab7871d98662b36e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-195bbb998cd54ad7ab7871d98662b36e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca26aab185eb463dbe66dbe3d4e1c171.html" target="element"> Dele helseopplysninger </a> </td>
																		<td> <a href="../elements/id-addee0f613ec495e8a7cec999a59bf6a.html" target="element"> Oppf&#248;lging og kontroll </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8e131867cddb43288cfa5d538ced1a38.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8e131867cddb43288cfa5d538ced1a38.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-759502aa7c2145aa9c239bd49fefb69e.html" target="element"> Hente helseopplysninger </a> </td>
																		<td> <a href="../elements/id-addee0f613ec495e8a7cec999a59bf6a.html" target="element"> Oppf&#248;lging og kontroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-24584052aa58409ba5d075b82b1baad5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24584052aa58409ba5d075b82b1baad5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-759502aa7c2145aa9c239bd49fefb69e.html" target="element"> Hente helseopplysninger </a> </td>
																		<td> <a href="../elements/id-ca26aab185eb463dbe66dbe3d4e1c171.html" target="element"> Dele helseopplysninger </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0d0621cf9dd94ca485db94203785d320.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d0621cf9dd94ca485db94203785d320.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7f47bc5b0274192bff07402aa480ef6.html" target="element"> Tillitsrammeverk </a> </td>
																		<td> <a href="../elements/id-23a8a4f862e54ac2a7d876b184c9bef0.html" target="element"> Dele og hente helseopplysninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-917d6d1b12644c2e8341347229527ee7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-917d6d1b12644c2e8341347229527ee7.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7f47bc5b0274192bff07402aa480ef6.html" target="element"> Tillitsrammeverk </a> </td>
																		<td> <a href="../elements/id-81d7bf21ac7e4c718dd482bdf2b5fa04.html" target="element"> Forberedende prosesser </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4013c7e505f74620889b58cc696e2ca6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4013c7e505f74620889b58cc696e2ca6.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2e4978779c054f2b94fbe86dd069b321.html" target="element"> Tilbydervirksomhet </a> </td>
																		<td> <a href="../elements/id-23a8a4f862e54ac2a7d876b184c9bef0.html" target="element"> Dele og hente helseopplysninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-edafd1611c6e414481621d6ab954c03e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-edafd1611c6e414481621d6ab954c03e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2e4978779c054f2b94fbe86dd069b321.html" target="element"> Tilbydervirksomhet </a> </td>
																		<td> <a href="../elements/id-81d7bf21ac7e4c718dd482bdf2b5fa04.html" target="element"> Forberedende prosesser </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9b1e86a486984f8b9cf3db4a7dd0ccec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b1e86a486984f8b9cf3db4a7dd0ccec.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-00e8e902472a4cdea130479d887a929a.html" target="element"> Konsumerende virksomhet </a> </td>
																		<td> <a href="../elements/id-23a8a4f862e54ac2a7d876b184c9bef0.html" target="element"> Dele og hente helseopplysninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b0e47ff5882d42a593e1bd0934572f4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0e47ff5882d42a593e1bd0934572f4b.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-00e8e902472a4cdea130479d887a929a.html" target="element"> Konsumerende virksomhet </a> </td>
																		<td> <a href="../elements/id-81d7bf21ac7e4c718dd482bdf2b5fa04.html" target="element"> Forberedende prosesser </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2ec715ddabcf4cd480ce6518a11b687e.html" target="element"> tilbys av </a> </td>
																		<td> <a href="../elements/id-2ec715ddabcf4cd480ce6518a11b687e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f896cf8ea4924aa985252ffe96d9e6b1.html" target="element"> Tillitsanker </a> </td>
																		<td> <a href="../elements/id-c7f47bc5b0274192bff07402aa480ef6.html" target="element"> Tillitsrammeverk </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>