<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Purpose of use brukerhistorier</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Purpose of use brukerhistorier</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-72d8679cf0f14301937d6f17945849d4.png" alt="Purpose of use brukerhistorier" usemap="#id-72d8679cf0f14301937d6f17945849d4map"/>
			   <map name="id-72d8679cf0f14301937d6f17945849d4map">
				  				<area shape="rect" coords="166,363,286,418" href="../elements/id-faf07c4ad8504c21bbaa0b8b6b200cdd.html"  target="element">
				  				<area shape="rect" coords="18,363,138,418" href="../elements/id-19cc4cb15eca4dabb78b721ec9e1e1e3.html"  target="element">
				  				<area shape="rect" coords="306,297,426,352" href="../elements/id-e7facf5cfb334775b5a4ddc5fba25d2f.html"  target="element">
				  				<area shape="rect" coords="166,297,286,352" href="../elements/id-bc3fd45c78f748e3b5d0de024656af66.html"  target="element">
				  				<area shape="rect" coords="18,297,138,352" href="../elements/id-997adba788f9446dbec60a5332f76a27.html"  target="element">

				  		<area shape="rect" coords="10,273,448,430" href="../elements/id-0311e42d41ef4216847d29cc562af237.html"  target="element">
				  		<area shape="rect" coords="328,177,448,232" href="../elements/id-004c7869effb4a83add0d3a6f0fcf9f4.html"  target="element">
				  		<area shape="rect" coords="212,93,448,148" href="../elements/id-3d322863ab93473a8795ca679a29eaab.html"  target="element">
				  		<area shape="rect" coords="178,10,298,65" href="../elements/id-5399c187bcc4411a90d2f897fd7f204b.html"  target="element">
				  		<area shape="rect" coords="310,10,430,65" href="../elements/id-6a5a9e61515e45cba642f44ca6314077.html"  target="element">
				  		<area shape="rect" coords="10,93,130,148" href="../elements/id-00e8e902472a4cdea130479d887a929a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Mangler informasjon om hvor tilgangsbegrensningene ligger (disse ligger i egen EPJ), trenger kilde-virksomhet ogs&#229;</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-00e8e902472a4cdea130479d887a929a.html" target="element"> Konsumerende virksomhet </a> </td>
											    <td> <a href="../elements/id-00e8e902472a4cdea130479d887a929a.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6a5a9e61515e45cba642f44ca6314077.html" target="element"> Tillitsvekkende personvern og tilgangsstyring </a> </td>
											    <td> <a href="../elements/id-6a5a9e61515e45cba642f44ca6314077.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5399c187bcc4411a90d2f897fd7f204b.html" target="element"> Tillit til identitet og tjenstlig behov </a> </td>
											    <td> <a href="../elements/id-5399c187bcc4411a90d2f897fd7f204b.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3d322863ab93473a8795ca679a29eaab.html" target="element"> H&#229;ndtering av lokale tilgangsbegrensninger (ny) </a> </td>
											    <td> <a href="../elements/id-3d322863ab93473a8795ca679a29eaab.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-004c7869effb4a83add0d3a6f0fcf9f4.html" target="element"> Purpose of use </a> </td>
											    <td> <a href="../elements/id-004c7869effb4a83add0d3a6f0fcf9f4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0311e42d41ef4216847d29cc562af237.html" target="element"> Kapabiliteter </a> </td>
											    <td> <a href="../elements/id-0311e42d41ef4216847d29cc562af237.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-997adba788f9446dbec60a5332f76a27.html" target="element"> Tilgangsstyring og tilgangskontroll </a> </td>
													    <td> <a href="../elements/id-997adba788f9446dbec60a5332f76a27.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bc3fd45c78f748e3b5d0de024656af66.html" target="element"> H&#229;ndtering av personvern </a> </td>
													    <td> <a href="../elements/id-bc3fd45c78f748e3b5d0de024656af66.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e7facf5cfb334775b5a4ddc5fba25d2f.html" target="element"> Identifisering og sporing </a> </td>
													    <td> <a href="../elements/id-e7facf5cfb334775b5a4ddc5fba25d2f.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-19cc4cb15eca4dabb78b721ec9e1e1e3.html" target="element"> Logging og etterkontroll </a> </td>
													    <td> <a href="../elements/id-19cc4cb15eca4dabb78b721ec9e1e1e3.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-faf07c4ad8504c21bbaa0b8b6b200cdd.html" target="element"> Dokumentering av tjenstlig behov </a> </td>
													    <td> <a href="../elements/id-faf07c4ad8504c21bbaa0b8b6b200cdd.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-abe5ec464d23404d8818c851cbf4a562.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-abe5ec464d23404d8818c851cbf4a562.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-00e8e902472a4cdea130479d887a929a.html" target="element"> Konsumerende virksomhet </a> </td>
																		<td> <a href="../elements/id-3d322863ab93473a8795ca679a29eaab.html" target="element"> H&#229;ndtering av lokale tilgangsbegrensninger (ny) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f4cfcfebcd7849c9aeceeac4f1363b7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4cfcfebcd7849c9aeceeac4f1363b7d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d322863ab93473a8795ca679a29eaab.html" target="element"> H&#229;ndtering av lokale tilgangsbegrensninger (ny) </a> </td>
																		<td> <a href="../elements/id-004c7869effb4a83add0d3a6f0fcf9f4.html" target="element"> Purpose of use </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-409c163fcd954b3ba2b01cfbc0e4c5ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-409c163fcd954b3ba2b01cfbc0e4c5ef.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d322863ab93473a8795ca679a29eaab.html" target="element"> H&#229;ndtering av lokale tilgangsbegrensninger (ny) </a> </td>
																		<td> <a href="../elements/id-5399c187bcc4411a90d2f897fd7f204b.html" target="element"> Tillit til identitet og tjenstlig behov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-15187f4223104ee79e5e1e344310ef19.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-15187f4223104ee79e5e1e344310ef19.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d322863ab93473a8795ca679a29eaab.html" target="element"> H&#229;ndtering av lokale tilgangsbegrensninger (ny) </a> </td>
																		<td> <a href="../elements/id-6a5a9e61515e45cba642f44ca6314077.html" target="element"> Tillitsvekkende personvern og tilgangsstyring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c538252ae4264fd288ca1e770f195971.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c538252ae4264fd288ca1e770f195971.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0311e42d41ef4216847d29cc562af237.html" target="element"> Kapabiliteter </a> </td>
																		<td> <a href="../elements/id-997adba788f9446dbec60a5332f76a27.html" target="element"> Tilgangsstyring og tilgangskontroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cdd638a480634fdb926cf037e59383fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cdd638a480634fdb926cf037e59383fc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0311e42d41ef4216847d29cc562af237.html" target="element"> Kapabiliteter </a> </td>
																		<td> <a href="../elements/id-bc3fd45c78f748e3b5d0de024656af66.html" target="element"> H&#229;ndtering av personvern </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fb61294a71c74648ab5f39106958d93f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb61294a71c74648ab5f39106958d93f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0311e42d41ef4216847d29cc562af237.html" target="element"> Kapabiliteter </a> </td>
																		<td> <a href="../elements/id-e7facf5cfb334775b5a4ddc5fba25d2f.html" target="element"> Identifisering og sporing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-47a227dc7e9e4eca9c1fcfb75448f128.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47a227dc7e9e4eca9c1fcfb75448f128.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0311e42d41ef4216847d29cc562af237.html" target="element"> Kapabiliteter </a> </td>
																		<td> <a href="../elements/id-19cc4cb15eca4dabb78b721ec9e1e1e3.html" target="element"> Logging og etterkontroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-850493cc9d754d0b923b6762b201309f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-850493cc9d754d0b923b6762b201309f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0311e42d41ef4216847d29cc562af237.html" target="element"> Kapabiliteter </a> </td>
																		<td> <a href="../elements/id-faf07c4ad8504c21bbaa0b8b6b200cdd.html" target="element"> Dokumentering av tjenstlig behov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7cfa43d80af46a6a069054227fed9f3.html" target="element"> Bruker </a> </td>
																		<td> <a href="../elements/id-e7cfa43d80af46a6a069054227fed9f3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0311e42d41ef4216847d29cc562af237.html" target="element"> Kapabiliteter </a> </td>
																		<td> <a href="../elements/id-3d322863ab93473a8795ca679a29eaab.html" target="element"> H&#229;ndtering av lokale tilgangsbegrensninger (ny) </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>