<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Tillitsrammeverkets bestanddeler</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Tillitsrammeverkets bestanddeler</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e1bc0ab12d6c4cd2906fd152e04ef5f0.png" alt="Tillitsrammeverkets bestanddeler" usemap="#id-e1bc0ab12d6c4cd2906fd152e04ef5f0map"/>
			   <map name="id-e1bc0ab12d6c4cd2906fd152e04ef5f0map">
				  		<area shape="rect" coords="142,106,262,161" href="../elements/id-21ac5529e8ef4b7e8059213c2142785a.html"  target="element">
				  		<area shape="rect" coords="10,10,526,65" href="../elements/id-ebe38efc46db4f659259e5332d0c3446.html"  target="element">
				  		<area shape="rect" coords="406,106,526,161" href="../elements/id-7d9059dc93e8491aa979a0f836585963.html"  target="element">
				  		<area shape="rect" coords="274,106,394,161" href="../elements/id-d9b5c2dd66254d0bb26676e60ab7dffc.html"  target="element">
				  		<area shape="rect" coords="10,106,130,161" href="../elements/id-6b270d03056a48af91273cf08fc74c00.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Basert p&#229; lysbilder fra NHN (https://helsedir.sharepoint.com/teams/PRO-Programdigitalsamhandling-EHELSE/Delte%20dokumenter/Team%20Pasientens%20journaldokumenter/12%20-Tillitsrammeverket/Tidligere%20dokumenter/Tillitsrammeverk%20til%20Thomas.docx?web=1). Regler, prosesser, standarder og l&#248;sningstjenester burde egentlig v&#230;rt composed in tillitsammeverket - men det tillates ikke av Archimate, s&#229; velger association i stedet. Burde kanskje v&#230;rt grouping heller?</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6b270d03056a48af91273cf08fc74c00.html" target="element"> Regler </a> </td>
											    <td> <a href="../elements/id-6b270d03056a48af91273cf08fc74c00.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d9b5c2dd66254d0bb26676e60ab7dffc.html" target="element"> Standarder </a> </td>
											    <td> <a href="../elements/id-d9b5c2dd66254d0bb26676e60ab7dffc.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d9059dc93e8491aa979a0f836585963.html" target="element"> L&#248;sningstjenester </a> </td>
											    <td> <a href="../elements/id-7d9059dc93e8491aa979a0f836585963.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ebe38efc46db4f659259e5332d0c3446.html" target="element"> Tillitsrammeverk </a> </td>
											    <td> <a href="../elements/id-ebe38efc46db4f659259e5332d0c3446.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-21ac5529e8ef4b7e8059213c2142785a.html" target="element"> Prosesser </a> </td>
											    <td> <a href="../elements/id-21ac5529e8ef4b7e8059213c2142785a.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-68caaef7eb5f462b91d4eeadb5db1841.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-68caaef7eb5f462b91d4eeadb5db1841.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6b270d03056a48af91273cf08fc74c00.html" target="element"> Regler </a> </td>
																		<td> <a href="../elements/id-ebe38efc46db4f659259e5332d0c3446.html" target="element"> Tillitsrammeverk </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-688eccaf41e0435699cd9953ee700109.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-688eccaf41e0435699cd9953ee700109.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d9b5c2dd66254d0bb26676e60ab7dffc.html" target="element"> Standarder </a> </td>
																		<td> <a href="../elements/id-ebe38efc46db4f659259e5332d0c3446.html" target="element"> Tillitsrammeverk </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5778a51b51c149658ec7e7a9118481d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5778a51b51c149658ec7e7a9118481d5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d9059dc93e8491aa979a0f836585963.html" target="element"> L&#248;sningstjenester </a> </td>
																		<td> <a href="../elements/id-ebe38efc46db4f659259e5332d0c3446.html" target="element"> Tillitsrammeverk </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-770ed587fe8c450f9dc2b2285b443450.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-770ed587fe8c450f9dc2b2285b443450.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21ac5529e8ef4b7e8059213c2142785a.html" target="element"> Prosesser </a> </td>
																		<td> <a href="../elements/id-ebe38efc46db4f659259e5332d0c3446.html" target="element"> Tillitsrammeverk </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>