<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Konsept FPS2</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Konsept FPS2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e0b2bc7b33614b88a5fd51efa097edd0.png" alt="Konsept FPS2" usemap="#id-e0b2bc7b33614b88a5fd51efa097edd0map"/>
			   <map name="id-e0b2bc7b33614b88a5fd51efa097edd0map">
				  				<area shape="rect" coords="25,733,115,803" href="../elements/id-270acb87496941b08da49c5c9749eefd.html"  target="element">
				  				<area shape="rect" coords="25,601,115,671" href="../elements/id-2c4ae3cc322d489bbed44793b1106d9b.html"  target="element">
				  				<area shape="rect" coords="25,469,115,539" href="../elements/id-7a9b93b101c5414ba91edcebad844282.html"  target="element">
				  				<area shape="rect" coords="25,337,115,407" href="../elements/id-8e98133996e14de28ca024f7904dd8b5.html"  target="element">
				  				<area shape="rect" coords="25,204,115,274" href="../elements/id-a4ec44e735f0495faab0740d902ca60c.html"  target="element">

				  		<area shape="rect" coords="10,169,131,820" href="../elements/id-aeb12e3ce7454439a6f15cc6642c9e45.html"  target="element">
				  		<area shape="rect" coords="166,10,773,134" href="../elements/id-82ff8a1590ba47c7943e2c33d2c368ae.html"  target="element">
				  				<area shape="rect" coords="421,204,511,274" href="../elements/id-988e16360305468485ca2952adf6761e.html"  target="element">
				  				<area shape="rect" coords="300,204,390,274" href="../elements/id-fd8fd914d9ec4344a9e1070428dd04e9.html"  target="element">
				  				<area shape="rect" coords="179,204,269,274" href="../elements/id-a68045fe1cad49f4b6873a54753186a4.html"  target="element">

				  		<area shape="rect" coords="164,168,771,292" href="../elements/id-9c7bddf99eee4b22b7aada09c66755b3.html"  target="element">
				  				<area shape="rect" coords="179,435,269,505" href="../elements/id-eba41f6338684d5e89d8c7a3b743b357.html"  target="element">
				  				<area shape="rect" coords="179,355,269,425" href="../elements/id-b393a517309d42199e166a27bc26307e.html"  target="element">

				  		<area shape="rect" coords="164,318,285,520" href="../elements/id-8b553eea7987456dbc2a931c788ac616.html"  target="element">
				  				<area shape="rect" coords="418,435,508,505" href="../elements/id-9a623ca3296a4f39ab2b6a4b41597f2f.html"  target="element">
				  				<area shape="rect" coords="318,435,408,505" href="../elements/id-c7403aacab1e4aa48778d4885c6d7b93.html"  target="element">
				  				<area shape="rect" coords="318,355,408,425" href="../elements/id-f465c97bee834288811fe09b4fb5fa54.html"  target="element">

				  		<area shape="rect" coords="300,318,527,520" href="../elements/id-52ef597ff265445aa6e565a252e9daf6.html"  target="element">
				  				<area shape="rect" coords="667,355,757,425" href="../elements/id-7b0324563cf94222ac5e37222cbad8e1.html"  target="element">
				  				<area shape="rect" coords="563,355,653,425" href="../elements/id-ab0c54ba71df41979a51d2cc2546b010.html"  target="element">
				  				<area shape="rect" coords="667,435,757,505" href="../elements/id-b92b12227e4b4fecb8f68c79f0889a4a.html"  target="element">
				  				<area shape="rect" coords="563,435,653,505" href="../elements/id-90dca818a62b41f28e8b8f46c31c6783.html"  target="element">

				  		<area shape="rect" coords="544,318,771,520" href="../elements/id-b144927ed1a54c6fb076be5917706752.html"  target="element">
				  				<area shape="rect" coords="301,585,391,655" href="../elements/id-436c4755be6f486081e323a9558280a9.html"  target="element">
				  				<area shape="rect" coords="179,585,269,655" href="../elements/id-615f231f5d1f48cc8cde406c01a46feb.html"  target="element">
				  				<area shape="rect" coords="667,585,757,655" href="../elements/id-edbae5bd49964afda5decaa1e13cfb7e.html"  target="element">
				  				<area shape="rect" coords="545,585,635,655" href="../elements/id-03a2720ac4e84bb989a1fa85b5b85400.html"  target="element">
				  				<area shape="rect" coords="423,585,513,655" href="../elements/id-674668f5f6cb41b2b657a68168062880.html"  target="element">

				  		<area shape="rect" coords="164,545,771,669" href="../elements/id-e4d2b2bf93f84d7ab3f1e3d35f27ab7b.html"  target="element">
				  				<area shape="rect" coords="667,733,757,803" href="../elements/id-ffda0544cf144161a30780a26f3ad8db.html"  target="element">
				  				<area shape="rect" coords="545,733,635,803" href="../elements/id-8674a8617d4a4e049bc227d90e746d87.html"  target="element">
				  				<area shape="rect" coords="423,733,513,803" href="../elements/id-e0f1fc72204a4ab794c5f5037522d189.html"  target="element">
				  				<area shape="rect" coords="301,733,391,803" href="../elements/id-29c69b5045194463adee09f7ee041b87.html"  target="element">
				  				<area shape="rect" coords="179,733,269,803" href="../elements/id-7e17989884db4c0cb5c0f4c00aa11c9a.html"  target="element">

				  		<area shape="rect" coords="164,694,771,818" href="../elements/id-08906aa89fe64785a1de315795296c64.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-08906aa89fe64785a1de315795296c64.html" target="element"> Forvaltning </a> </td>
											    <td> <a href="../elements/id-08906aa89fe64785a1de315795296c64.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7e17989884db4c0cb5c0f4c00aa11c9a.html" target="element"> Forvalte standarder for deling </a> </td>
													    <td> <a href="../elements/id-7e17989884db4c0cb5c0f4c00aa11c9a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-29c69b5045194463adee09f7ee041b87.html" target="element"> St&#248;tte publisering av grensesnitt </a> </td>
													    <td> <a href="../elements/id-29c69b5045194463adee09f7ee041b87.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e0f1fc72204a4ab794c5f5037522d189.html" target="element"> St&#248;tte bruk av grensesnitt </a> </td>
													    <td> <a href="../elements/id-e0f1fc72204a4ab794c5f5037522d189.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8674a8617d4a4e049bc227d90e746d87.html" target="element"> Forvalte katalog med grensesnitt </a> </td>
													    <td> <a href="../elements/id-8674a8617d4a4e049bc227d90e746d87.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ffda0544cf144161a30780a26f3ad8db.html" target="element"> H&#229;ndtere avtaler </a> </td>
													    <td> <a href="../elements/id-ffda0544cf144161a30780a26f3ad8db.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e4d2b2bf93f84d7ab3f1e3d35f27ab7b.html" target="element"> Lagring </a> </td>
											    <td> <a href="../elements/id-e4d2b2bf93f84d7ab3f1e3d35f27ab7b.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-674668f5f6cb41b2b657a68168062880.html" target="element"> Innbyggerdata </a> </td>
													    <td> <a href="../elements/id-674668f5f6cb41b2b657a68168062880.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-03a2720ac4e84bb989a1fa85b5b85400.html" target="element"> Helseopplysninger </a> </td>
													    <td> <a href="../elements/id-03a2720ac4e84bb989a1fa85b5b85400.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-edbae5bd49964afda5decaa1e13cfb7e.html" target="element"> Legemidler </a> </td>
													    <td> <a href="../elements/id-edbae5bd49964afda5decaa1e13cfb7e.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-615f231f5d1f48cc8cde406c01a46feb.html" target="element"> Forvalte informasjonsmodell </a> </td>
													    <td> <a href="../elements/id-615f231f5d1f48cc8cde406c01a46feb.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-436c4755be6f486081e323a9558280a9.html" target="element"> Forvalte felles helseopplysninger </a> </td>
													    <td> <a href="../elements/id-436c4755be6f486081e323a9558280a9.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-b144927ed1a54c6fb076be5917706752.html" target="element"> Formidling </a> </td>
											    <td> <a href="../elements/id-b144927ed1a54c6fb076be5917706752.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-90dca818a62b41f28e8b8f46c31c6783.html" target="element"> H&#229;ndtere transaksjoner </a> </td>
													    <td> <a href="../elements/id-90dca818a62b41f28e8b8f46c31c6783.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b92b12227e4b4fecb8f68c79f0889a4a.html" target="element"> H&#229;ndtere meldingsk&#248; og postkasse </a> </td>
													    <td> <a href="../elements/id-b92b12227e4b4fecb8f68c79f0889a4a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ab0c54ba71df41979a51d2cc2546b010.html" target="element"> St&#248;tte adressering av meldinger </a> </td>
													    <td> <a href="../elements/id-ab0c54ba71df41979a51d2cc2546b010.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7b0324563cf94222ac5e37222cbad8e1.html" target="element"> Formidle oppslag til riktig mottaker </a> </td>
													    <td> <a href="../elements/id-7b0324563cf94222ac5e37222cbad8e1.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-52ef597ff265445aa6e565a252e9daf6.html" target="element"> Tillitstjenester </a> </td>
											    <td> <a href="../elements/id-52ef597ff265445aa6e565a252e9daf6.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f465c97bee834288811fe09b4fb5fa54.html" target="element"> Autentisere og autorisere oppslag </a> </td>
													    <td> <a href="../elements/id-f465c97bee834288811fe09b4fb5fa54.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c7403aacab1e4aa48778d4885c6d7b93.html" target="element"> H&#229;ndtere avtaler om &#229; dele helseopplysninger </a> </td>
													    <td> <a href="../elements/id-c7403aacab1e4aa48778d4885c6d7b93.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9a623ca3296a4f39ab2b6a4b41597f2f.html" target="element"> H&#229;ndtere sperringer (personvern) </a> </td>
													    <td> <a href="../elements/id-9a623ca3296a4f39ab2b6a4b41597f2f.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8b553eea7987456dbc2a931c788ac616.html" target="element"> Adressering </a> </td>
											    <td> <a href="../elements/id-8b553eea7987456dbc2a931c788ac616.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b393a517309d42199e166a27bc26307e.html" target="element"> Forvalte adresseinformasjon </a> </td>
													    <td> <a href="../elements/id-b393a517309d42199e166a27bc26307e.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-eba41f6338684d5e89d8c7a3b743b357.html" target="element"> Lokalisere pasientinformasjon </a> </td>
													    <td> <a href="../elements/id-eba41f6338684d5e89d8c7a3b743b357.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9c7bddf99eee4b22b7aada09c66755b3.html" target="element"> Utviklingsst&#248;tte </a> </td>
											    <td> <a href="../elements/id-9c7bddf99eee4b22b7aada09c66755b3.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a68045fe1cad49f4b6873a54753186a4.html" target="element"> Gi tilgang til sandkassemilj&#248;er </a> </td>
													    <td> <a href="../elements/id-a68045fe1cad49f4b6873a54753186a4.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fd8fd914d9ec4344a9e1070428dd04e9.html" target="element"> St&#248;tte utvikling av applikasjoner </a> </td>
													    <td> <a href="../elements/id-fd8fd914d9ec4344a9e1070428dd04e9.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-988e16360305468485ca2952adf6761e.html" target="element"> Sertifisere applikasjoner </a> </td>
													    <td> <a href="../elements/id-988e16360305468485ca2952adf6761e.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-82ff8a1590ba47c7943e2c33d2c368ae.html" target="element"> Nasjonale e-helsel&#248;sninger </a> </td>
											    <td> <a href="../elements/id-82ff8a1590ba47c7943e2c33d2c368ae.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aeb12e3ce7454439a6f15cc6642c9e45.html" target="element"> Grunnmur </a> </td>
											    <td> <a href="../elements/id-aeb12e3ce7454439a6f15cc6642c9e45.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a4ec44e735f0495faab0740d902ca60c.html" target="element"> Referansekatalog </a> </td>
													    <td> <a href="../elements/id-a4ec44e735f0495faab0740d902ca60c.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8e98133996e14de28ca024f7904dd8b5.html" target="element"> Kodeverk og terminologi </a> </td>
													    <td> <a href="../elements/id-8e98133996e14de28ca024f7904dd8b5.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7a9b93b101c5414ba91edcebad844282.html" target="element"> Person </a> </td>
													    <td> <a href="../elements/id-7a9b93b101c5414ba91edcebad844282.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2c4ae3cc322d489bbed44793b1106d9b.html" target="element"> Virksomhet </a> </td>
													    <td> <a href="../elements/id-2c4ae3cc322d489bbed44793b1106d9b.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-270acb87496941b08da49c5c9749eefd.html" target="element"> Personell </a> </td>
													    <td> <a href="../elements/id-270acb87496941b08da49c5c9749eefd.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											
											
											
											
											
											
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>